{% extends 'App/base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block style %}
<style>
    #contactbody{
        background-color: black;
    }
    #contact-header{
        background: fixed;
        background-size: cover;
        background-image: linear-gradient(45deg,rgba(56, 51, 13, 0.637), rgba(0, 0, 0, 0.644)),url("{% static '/images/contact-bg.jpg' %}");
        background-position: center;
        height: 120vh;
    }
    #contact-header .contact-title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #contact-header .contact-title h1{
        margin-top: 250px;
        color: white;
        font-size: 13rem;
        text-shadow: 5px 5px 1px black;
        font-family: "Dancing Script", cursive;
    }
    #contact-header .message-container{
        display: flex;
        justify-content: center;
    }
    #contact-header .message-container .alert{
        display: flex;
        justify-content: center;
        width: max-content;
        background: none;
        border: none;
        outline: none;
    }
    #contact-header .message-container .alert p{
        font-size: 2.9rem;
        color: orangered;
        text-shadow: 1px 1px 1px black;
        font-weight: bold;
    }

    #contact-section{
        background: rgb(25, 25, 26);
        background: linear-gradient(140deg, rgb(22, 22, 22) 16%, rgb(15, 15, 15) 78%);
    }
    #contact-section .display-message{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
    }
    #contact-section .display-message .customer-message,
    #contact-section .display-message .candidate-message{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #contact-section .display-message .customer-message p{
        font-size: 2.4rem;
        color:skyblue;
        text-shadow: 2px 2px 1px black;
        letter-spacing: .4px;
        word-spacing: 1.5px;
        text-align: center;
    }
    #contact-section .display-message .candidate-message p{
        font-size: 2.4rem;
        color: orange;
        text-shadow: 2px 2px 1px black;
        letter-spacing: .4px;
        word-spacing: 1.5px;
        text-align: center;
    }


    #contact-section .contact-container{
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        padding: 40px;
    }
    #contact-section .contact-container .contact-image{
        grid-column: 1;
    }
    #contact-section .contact-container .contact-image img{
        width: 100%;
        height: 70rem;
        object-fit: cover;
        border-left: 20px solid red;
        border-left-style: double;
        border-top-left-radius: 12%;
        border-top-right-radius: 4%;
        border-right: 20px solid red;
        border-right-style: double;
        border-bottom-right-radius: 12%;
        border-bottom-left-radius: 4%;
        transform: perspective(1000px)
        scale(.97)
        rotateY(5deg);
        filter: grayscale(20%);
        transition: .7s all linear;
    }
    #contact-section .contact-container .contact-image img:hover{
        transform: scale(1);
        filter: grayscale(0%);
    }

    #contact-section .contact-container .contact-form{
        grid-column: 2;
        font-family: 'Poppins', sans-serif;
    }
    #contact-section .contact-container .contact-form .form-title h1{
        color: white;
        text-shadow: 1px 1px 1px red;
        text-align: center;
        font-size: 5rem;
        font-family: "Gabriela", serif;
    }
    #contact-section .contact-container .contact-form form{
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 40px;
    }
    #contact-section .contact-container .contact-form form label{
        color: white;
        font-size: 2.2rem;
        text-shadow: 2px 2px 1px black;
    }
    #contact-section .contact-container .contact-form button{
        background: rgb(241,135,4);
        background: linear-gradient(90deg, rgba(241,135,4,1) 25%, rgba(242,85,6,1) 75%);
        padding: 10px;
        color: white;
        text-shadow: 2px 2px 1px black;
        font-size: 3rem;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        filter: brightness(90%);
        transition: .6s all linear;
    }
    #contact-section .contact-container .contact-form button:hover{
        background: rgb(242,85,6);
        background: linear-gradient(90deg, rgba(242,85,6,1) 30%, rgba(241,135,4,1) 70%);
        transform: scale(1.08);
        filter: brightness(120%);
    }

    #input-field{
        border-radius: 5px;
        padding: 10px;
        font-size: 2rem;
        width: 100%;
    }
    #input-field:focus{
        background-color: rgb(204, 197, 197);
    }

    #input-field::placeholder{
        font-size: 1.7rem;
    }
    /*  */
    @media(max-width: 1200px){
    #contact-header .contact-title h1{
        font-size: 10rem;
        text-shadow: 4px 4px 1px black;
    }
    #contact-section .display-message{
        padding: 50px 40px;
    }
    #contact-section .display-message .customer-message p{
        font-size: 2.1rem;
        text-shadow: 2px 2px 1px black;
        letter-spacing: .4px;
        word-spacing: 1.2px;
    }
    #contact-section .display-message .candidate-message p{
        font-size: 2.1rem;
        text-shadow: 2px 2px 1px black;
        letter-spacing: .4px;
        word-spacing: 1.2px;
    }
    #contact-section .contact-container .contact-form .form-title h1{
        font-size: 4.5rem;
    }
    #contact-section .contact-container .contact-form form{
        padding: 20px;
        gap: 25px;
    }
    #contact-section .contact-container .contact-form form label{
        font-size: 2.1rem;
    }
    #contact-section .contact-container .contact-form button{
        font-size: 2.7rem;
    }
    #input-field{
        padding: 8px;
        font-size: 1.9rem;
    }
    #input-field::placeholder{
        font-size: 1.65rem;
    }
    }

    /*  */
    @media(max-width: 768px){
    #contact-header{
        height: 100vh;
    }
    #contact-header .contact-title h1{
        margin-top: 250px;
        font-size: 8rem;
    }
    #contact-section .display-message{
        gap: 20px;
        padding: 30px 20px;
    }
    #contact-section .display-message .customer-message p{
        font-size: 1.9rem;
        letter-spacing: .4px;
        word-spacing: 1px;
    }
    #contact-section .display-message .candidate-message p{
        font-size: 1.9rem;
        letter-spacing: .4px;
        word-spacing: 1px;
    }
    #contact-section .contact-container{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    #contact-section .contact-container .contact-image{
        display: none;
    }
    #contact-section .contact-container .contact-image img{
        display: none;
    }
    #contact-section .contact-container .contact-form .form-title h1{
        text-shadow: .8px .8px .5px red;
        font-size: 4rem;
    }
    #contact-section .contact-container .contact-form form{
        padding: 15px;
        gap: 25px;
    }
    #contact-section .contact-container .contact-form form label{
        font-size: 2rem;
    }
    #contact-section .contact-container .contact-form button{
        padding: 10px;
        text-shadow: 1.4px 1.4px 1px black;
        font-size: 2.4rem;
    }
    #input-field{
        padding: 7px;
        font-size: 1.8rem;
    }
    #input-field::placeholder{
        font-size: 1.6rem;
    }
    }
    /*  */
    @media(max-width: 640px){
    #contact-header .contact-title h1{
        margin-top: 250px;
        font-size: 7rem;
        text-shadow: 3px 3px 1px black;
    }
    #contact-section .display-message{
        gap: 15px;
    }
    #contact-section .display-message .customer-message p{
        font-size: 1.8rem;
    }
    #contact-section .display-message .candidate-message p{
        font-size: 1.8rem;
    }
    #contact-section .contact-container{
        padding: 30px;
    }
    #contact-section .contact-container .contact-form .form-title h1{
        text-shadow: .8px .8px .5px red;
        font-size: 3.6rem;
    }
    #contact-section .contact-container .contact-form form{
        padding: 10px;
        gap: 22px;
    }
    #contact-section .contact-container .contact-form form label{
        font-size: 1.9rem;
    }
    #contact-section .contact-container .contact-form button{
        padding: 10px;
        text-shadow: 1.4px 1.4px 1px black;
        font-size: 2.4rem;
    }
    #input-field{
        padding: 7px;
        font-size: 1.8rem;
    }
    #input-field::placeholder{
        font-size: 1.6rem;
    }
    }
    @media(max-width: 485px){
    #contact-header{
        height: 100vh;
    }
    #contact-header .contact-title h1{
        font-size: 6.2rem;
    }
    #contact-section .display-message{
        gap: 15px;
    }
    #contact-section .display-message .customer-message p{
        font-size: 1.3rem;
    }
    #contact-section .display-message .candidate-message p{
        font-size: 1.3rem;
    }
    #contact-section .contact-container{
        padding: 20px;
    }
    #contact-section .contact-container .contact-form .form-title h1{
        text-shadow: .8px .8px .5px red;
        font-size: 2.8rem;
    }
    #contact-section .contact-container .contact-form form{
        padding: 10px;
        gap: 22px;
    }
    #contact-section .contact-container .contact-form form label{
        font-size: 1.7rem;
    }
    #contact-section .contact-container .contact-form button{
        font-size: 2rem;
    }
    #input-field{
        font-size: 1.4rem;
    }
    #input-field::placeholder{
        font-size: 1.3rem;
    }
    }

    @media(max-width: 390px){
    #contact-header .contact-title h1{
        font-size: 5rem;
        text-shadow: 2px 2px 1px black;
    }
    #contact-section .display-message{
        gap: 15px;
        padding: 25px 15px;
    }
    #contact-section .display-message .customer-message p{
        font-size: 1.1rem;
    }
    #contact-section .display-message .candidate-message p{
        font-size: 1.1rem;
    }
    #contact-section .contact-container{
        padding: 15px;
    }
    #contact-section .contact-container .contact-form .form-title h1{
        text-shadow: .8px .8px .5px red;
        font-size: 2.5rem;
    }
    #contact-section .contact-container .contact-form form{
        padding: 5px;
        gap: 15px;
    }
    #contact-section .contact-container .contact-form form label{
        font-size: 1.5rem;
    }
    #contact-section .contact-container .contact-form button{
        padding: 8px;
        font-size: 1.8rem;
    }
    #input-field{
        padding: 7px;
        font-size: 1.2rem;
    }
    #input-field::placeholder{
        font-size: 1.1rem;
    }
    }

</style>
{% endblock %}

{% block content %}
<body id="contactbody">
    <section id="contact-header">
        <div class="contact-title">
            <h1>Stay Connected</h1>
        </div>
        <div class="message-container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <p>{{message}}</p>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </section>
    <section id="contact-section">
        <div class="display-message">
            <div class="customer-message">
                <p>If you are the <b>Customer</b>, Please provide your feedback about our service. Also, Please provide your details to get the future discounts / coupons of our services.</p>
            </div>
            <div class="candidate-message">
                <p>If you are the <b>Candidate</b> looking for a job in our Restaurant, Please provide your details and experience to get in touch by our Human Resource staff.</p>
            </div>
        </div>
        
        <div class="contact-container">
            <div class="contact-image">
                <img src="{% static '/images/contact-form-image.jpg' %}" alt="">
            </div>
            <div class="contact-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-title">
                        <h1>Send Us Your Message</h1>
                    </div>
                    <div class="form-wrapper">
                        <label for="name">Enter Your Name</label>
                        {{form.name}}
                        {{form.name.errors}}
                    </div>
                    <div class="form-wrapper">
                        <label for="mobile_number">Enter Your Mobile number</label>
                        {{form.mobile_number}}
                        {{form.mobile_number.errors}}
                    </div>
                    <div class="form-wrapper">
                        <label for="email">Enter Your Email Address</label>
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                    <div class="form-wrapper">
                        <label for="message">Enter Your Message</label>
                        {{form.message}}
                        {{form.message.errors}}
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}