{% extends 'App/base.html' %}
{% load static %}

{% block title %}
Outlets
{% endblock %}

{% block style %}
<style>
    #outletbody{
        background: rgb(19,19,19);
        background: linear-gradient(145deg, rgb(14, 13, 13) 20%, rgb(31, 31, 31) 80%, rgb(31, 31, 31) 98%);
    }
    .outlet-container{
        margin: 150px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 40px;
    }
    .outlets{
        grid-column: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .outlets .outlet-1{
        background: rgb(19,19,19);
        background: linear-gradient(145deg, rgb(14, 13, 13) 20%, rgb(24, 24, 24) 80%, rgb(27, 27, 27) 98%);
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 4px;
        padding: 30px;
        color: white;
        position: relative;
        font-family: 'Poppins', sans-serif;
        transition: .3s all linear;
    }
    .outlets .outlet-1:hover{
        transform: scale(1.03);
        box-shadow: 6px 6px 25px red;
    }

    .outlets .outlet-1 .outlet-number h1{
        font-size: 2rem;
    }
    .outlets .outlet-1 .outlet-title h1{
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-shadow: 2px 2px 1px rgb(5, 5, 87);
    }
    .outlets .outlet-1 .outlet-address ul{
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 35px;
        font-size: 2rem;
        opacity: .65;
    }

    .outlets .outlet-1 .outlet-contact p{
        font-size: 2rem;
        color: white;
        opacity: .95;
    }
    .outlets .outlet-1 .outlet-contact a{
        font-size: 2rem;
        text-decoration: none;
        color: white;
        transition: .7s all linear;
        opacity: .65;
    }
    .outlets .outlet-1 .outlet-contact a:hover{
        color: red;
    }
    .outlets .outlet-1 .margin-top1{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 4px;
        height: 80px;
        background-color: red;
    }
    .outlets .outlet-1 .margin-top2{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 80px;
        height: 4px;
        background-color: red;
    }
    .outlets .outlet-1 .margin-bottom1{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 80px;
        height: 4px;
        background-color: red;
    }
    .outlets .outlet-1 .margin-bottom2{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 4px;
        height: 80px;
        background-color: red;
    }
    .outlet-container img{
        width: 95%;
        filter: grayscale(30%);
        border-radius: 6px 6px 6px 6px;
    }
    .outlet-container img:hover{
        filter: grayscale(0%);
    }

    @media(max-width: 1200px){
    .outlet-container{
        margin: 140px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 35px;
    }
    .outlets{
        display: flex;
        flex-direction: column;
    }
    .outlets .outlet-1{
        gap: 15px;
        padding: 25px;
    }
    .outlets .outlet-1 .outlet-number h1{
        font-size: 1.9rem;
    }
    .outlets .outlet-1 .outlet-title h1{
        font-size: 2.3rem;
        letter-spacing: 1.4px;
        text-shadow: 1.5px 1.5px 1px rgb(5, 5, 87);
    }
    .outlets .outlet-1 .outlet-address ul{
        line-height: 35px;
        font-size: 1.8rem;
    }
    .outlets .outlet-1 .outlet-contact p{
        font-size: 1.8rem;
    }
    .outlets .outlet-1 .outlet-contact a{
        font-size: 1.8rem;
    }
    .outlets .outlet-1 .margin-top1{
        width: 4px;
        height: 80px;
    }
    .outlets .outlet-1 .margin-top2{
        width: 80px;
        height: 4px;
    }
    .outlets .outlet-1 .margin-bottom1{
        width: 80px;
        height: 4px;
    }
    .outlets .outlet-1 .margin-bottom2{
        width: 4px;
        height: 80px;
    }
    .outlet-container img{
        width: 95%;
        border-radius: 6px 6px 6px 6px;
    }
    }

    @media(max-width: 768px){
    .outlet-container{
        margin: 120px 0;
        display: flex;
        flex-direction: column;
        padding: 35px;
    }
    .outlets{
        display: flex;
        flex-direction: column;
    }
    .outlets .outlet-1{
        gap: 20px;
        padding: 25px;
    }
    .outlets .outlet-1 .outlet-number h1{
        font-size: 1.8rem;
    }
    .outlets .outlet-1 .outlet-title h1{
        font-size: 2rem;
        letter-spacing: 1.2px;
    }
    .outlets .outlet-1 .outlet-address ul{
        line-height: 30px;
        font-size: 1.6rem;
    }
    .outlets .outlet-1 .outlet-contact p{
        font-size: 1.6rem;
    }
    .outlets .outlet-1 .outlet-contact a{
        font-size: 1.6rem;
    }
    .outlet-container img{
        display: none;
    }
    }

    @media(max-width: 640px){
    .outlet-container{
        margin: 110px 0;
        display: flex;
        flex-direction: column;
        padding: 32px;
    }
    .outlets .outlet-1{
        gap: 17px;
        padding: 25px;
    }
    .outlets .outlet-1 .outlet-number h1{
        font-size: 1.6rem;
    }
    .outlets .outlet-1 .outlet-title h1{
        font-size: 1.9rem;
    }
    .outlets .outlet-1 .outlet-address ul{
        line-height: 28px;
        font-size: 1.5rem;
    }
    .outlets .outlet-1 .outlet-contact p{
        font-size: 1.5rem;
    }
    .outlets .outlet-1 .outlet-contact a{
        font-size: 1.5rem;
    }
    }

    @media(max-width: 485px){
    .outlet-container{
        margin: 100px 0;
        padding: 30px;
    }
    .outlets .outlet-1{
        gap: 15px;
        padding: 25px;
    }
    .outlets .outlet-1 .outlet-number h1{
        font-size: 1.4rem;
    }
    .outlets .outlet-1 .outlet-title h1{
        font-size: 1.7rem;
    }
    .outlets .outlet-1 .outlet-address ul{
        line-height: 26px;
        font-size: 1.4rem;
    }
    .outlets .outlet-1 .outlet-contact p{
        font-size: 1.4rem;
    }
    .outlets .outlet-1 .outlet-contact a{
        font-size: 1.4rem;
    }
    }

    @media(max-width: 390px){
    .outlet-container{
        margin: 90px 0;
        padding: 23px;
    }
    .outlets .outlet-1{
        gap: 15px;
        padding: 24px;
    }
    .outlets .outlet-1 .outlet-number h1{
        font-size: 1.3rem;
    }
    .outlets .outlet-1 .outlet-title h1{
        font-size: 1.45rem;
    }
    .outlets .outlet-1 .outlet-address ul{
        line-height: 22px;
        font-size: 1.3rem;
    }
    .outlets .outlet-1 .outlet-contact p{
        font-size: 1.3rem;
    }
    .outlets .outlet-1 .outlet-contact a{
        font-size: 1.3rem;
    }
    }
</style>
{% endblock %}

{% block content %}
<body id="outletbody">
    <div class="outlet-container">
        <div class="outlets">
            {% for o in Outlets %}
            <div class="outlet-1">
                <div class="outlet-number">
                    <h1>{{o.outlet_main_title}}</h1>
                </div>
                <div class="outlet-title">
                    <h1>{{o.outlet_name}}</h1>
                </div>
                <div class="outlet-address">
                    <ul>
                        <li class="line-1">{{o.address_line_1}}</li>
                        <li class="line-2">{{o.address_line_2}}</li>
                        <li class="line-3">{{o.address_line_3}}</li>
                        {% if o.address_line_4 %}
                            <li class="line-4">{{o.address_line_4}}</li>
                        {% else %}
                            <li class="line-4"></li>
                        {% endif %}

                        {% if o.address_line_5 %}
                            <li class="line-5">{{o.address_line_5}}</li>
                        {% else %}
                            <li class="line-5"></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="outlet-contact">
                    <p>Land Line: 
                        <a href="tel:{{o.outlet_landline}}">{{o.outlet_landline}}</a>
                    </p>
                    <p>Email: 
                        <a href="mailto:{{o.outlet_email}}">{{o.outlet_email}}</a>
                    </p>
                </div>
                <div class="margin-top1"></div>
                <div class="margin-top2"></div>
                <div class="margin-bottom1"></div>
                <div class="margin-bottom2"></div>
            </div>
            {% endfor %}
    
        </div>
        
        <div class="outlet-image">
            <img src="{% static '/images/outlet-image.jpg' %}" alt="">
        </div>
    </div>
</body>
{% endblock %}