{% extends 'App/base.html' %}
{% load static %}

{% block title %}
Team
{% endblock %}

{% block style %}
<style>
    #teambody{
        background: rgb(17,17,17);
        background: radial-gradient(circle, rgba(17,17,17,1) 0%, rgba(15,15,15,1) 50%, rgba(17,17,17,1) 100%);
    }
    .team-container{
        box-shadow: 4px 4px 10px gray;
    }
    .team-container .team-title{
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .team-container .team-title h1{
        margin-top: 30px;
        color: white;
        font-size: 7rem;
        text-shadow: 2px 2px 1px black;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: "Gabriela", serif;
    }
    .team .team-director{
        margin-top: 30px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .team .team-director .first-two,
    .team .team-director .last-two{
        display: flex;
        justify-content: center;
        gap: 70px;
    }
    .team .team-director .person{
        background-color: rgb(36, 28, 28);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 5px 5px 2px 2px;
        transition: .5s all linear;
        box-shadow: 2px 2px 7px red;

    }
    .team .team-director .person:hover{
        transform: scale(1.05);
        box-shadow: 6px 6px 25px red;
    }
    .team .team-director .person img{
        width: 430px;
        height: 480px;
        object-fit: cover;
        border-radius: 5px 5px 2px 2px;
    }
    .team .team-director .person h1{
        color: white;
        font-size: 4.1rem;
        font-weight: bold;
        letter-spacing: .8px;
        text-shadow: 2px 2px 1px black;
        font-family: "Gabriela", serif;
    }
    .team .team-director .person h3{
        font-family: 'Poppins', sans-serif;
        color: orange;
        font-size: 2rem;
        letter-spacing: 1px;
        text-shadow: 1.5px 1.5px 1px black;
    }
    </style>
{% endblock %}

{% block content %}
<body id="teambody">
    <div class="team-container">
        <div class="team-title">
            <h1>Our Team</h1>
        </div>
        <div class="team">
            <div class="team-director">
                <div class="first-two">
                    {% for t in team1 %}
                    <div class="person">
                        <img src="{{t.Member_image.url}}" alt="">
                        <h1>{{t.Member_name}}</h1>
                        <h3>{{t.Member_title}}</h3>
                    </div>
                {% endfor %}
                </div>
                <div class="last-two">
                    {% for t in team2 %}
                    <div class="person">
                        <img src="{{t.Member_image.url}}" alt="">
                        <h1>{{t.Member_name}}</h1>
                        <h3>{{t.Member_title}}</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</body>
{% endblock %}